/* my style sheet with nothing here yet */


body {  }

header, footer {
    display: block;
    text-align: center;
}

#page_footer {
    margin: 0;
    position: fixed;
    padding: 1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;   /* Height of the footer */
    background: #98AFC7;
}

main h1, h2, h3, h4, h5, h6 { text-align: center; }

#copyright {
    width: 100%
    position: absolute;
    padding-bottom: .5rem;
    left: 0;
    bottom: 0;
}
