/* my style sheet with nothing here yet */


body {  }

header, footer {
    display: block;
    text-align: center;
}

#page_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background: #6cf;
}
